
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto';
    

    
}

header{
    height: 10vh;
    display: grid;
    place-items: center;
}

input{
    width: 80vw;
    font-size: 2rem;
    border-radius: 1rem;
    outline: none;
    padding: 1rem;
    border: 1px solid lightgray;
}

body{
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    
}
.card{
    display: grid;
    place-items: center;
    background-color: hotpink;
    height: 10rem;
    color: white;
    font-size: 2rem;
    box-shadow: 10px 0px 2px darkgray;
    transition: all ease-in-out .3s;
}

.card:hover{
    transform: scale(1.08);
    border: 4px solid lightgray;
}